/*
 * Empty Stylesheet file.
 */
.main-button-style {
    -fx-background-color: #495c46;
    -fx-border-color: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-family: "Century";
    -fx-font-size: 16px; /* Add px for size units */
    -fx-font-style: italic;
    -fx-color: #000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 0, 0.0, 4, 6); /* Add box shadow */
}

.main-button-style:hover {
    -fx-background-color: #000;
  
}

.main-input-style {
    -fx-effect: dropshadow(gaussian, rgba(73, 92, 70, 1), 3, 0.0, 0, 6); /* Add box shadow */
    -fx-pref-height: 35px; /* Set preferred height */
    -fx-pref-width: 150px; /* Set preferred width */
    -fx-background-radius: 5;
    -fx-border : 5px solid black;
    -fx-font-family: "Century";
}
